<form class="ui segment form" action="/dashboard/addassessment" method="POST">
  <div class="three fields">
    <div class="field">
      <label>Weight</label>
      <input placeholder="00.00kg" type="text" name="weight">
    </div>
    <div class="field">
      <label>Chest</label>
      <input placeholder="00.00cm" type="text" name="chest">
    </div>
    <div class="field">
      <label>Thigh</label>
      <input placeholder="00.00cm" type="text" name="thigh">
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Upper Arm</label>
      <input placeholder="00.00cm" type="text" name="upperarm">
    </div>
    <div class="field">
      <label>Waist</label>
      <input placeholder="00.00cm" type="text" name="waist">
    </div>
    <div class="field">
      <label>Hips</label>
      <input placeholder="00.00cm" type="text" name="hips">
    </div>
  </div>
  <button class="ui blue submit button"> Add Assessment </button>
</form>