{%- macro analytics(member, memberStats) -%}
    {%- if member and MemberStats %}

<section class="ui segment">
  <div class="ui four small statistics">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
      {{ member.name }}
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="{{ 'green' if memberStats.isIdealBodyweight else 'red' }} dashboard icon"></i>
      </div>
      <div class="label">
        Ideal Weight Indicator
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i> {{ memberStats.bmi }}
      </div>
      <div class="label">
        BMI
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="doctor icon"></i>
      </div>
      <div class="label">
      {{ memberStats.bmiCategory }}
      </div>
    </div>
  </div>
</section>

    {%- endif %}
{%- endmacro %}