<section class="ui segment">
    <div class="ui four small statistics">
        <div class="ui statistic">
            <div class="value">
                <i class="user icon"></i>
            </div>
            <div class="label">
                {{ member.name }}
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                {% if memberStats.isIdealBodyweight %}
                <i class="green dashboard icon"></i>
                {%- else %}
                <i class="red dashboard icon"></i>
                {%- endif %}
            </div>
            <div class="label">
                Ideal Weight Indicator
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="heartbeat icon"></i> {{ memberStats.bmi }}
            </div>
            <div class="label">
                BMI
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="doctor icon"></i>
            </div>
            <div class="label">
                {{ memberStats.bmiCategory }}
            </div>
        </div>
        <div class="value">
            {% if memberStats.goaltrend %}
                <i class="green bullseye icon"></i>
            {%- else %}
                <i class="red bullseye icon"></i>
            {%- endif %}
        </div>
        <div class="label">
            Goals Indicator
        </div>
    </div>
</section>