<nav class="ui menu">
  <header class="ui header item"> Play Gym </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <i class="user icon"></i>
        <div class="menu">
          <a class="item" href="/settings">Settings</a>
          <a class="item" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  $("#{{ id }}").addClass("active item");
</script>