{% include "layouts/main.html" %}

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
      {%- include "layouts/welcomemenu.html" %}

    <section class="ui center aligned middle aligned two column grid segment">
      <div class="column">
        <header class="ui header"> BMI Tracker </header>
        <p> Fill in your assessments week by week and track your BMI.
          Trainers will comment on your progress and encourage your to keep going!</p>
      </div>
      <div class="column">
        <img class="ui image" src="/images/about.jpg">
      </div>
    </section>
  </div>
</div>