{% include "layouts/main.html" %}

{% from "partials/macros.njk" import assessmenttable, assessmentrow, analytics with context %}

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    {% include "partials/menu.njk" %}

    {{ analytics(member, memberStats) }}    {# call my nunjunks macro #}

    <section class="ui segment">

        {% if assessments %}

            {{ assessmenttable(assessments, member, false, true) }}   {# call my nunjunks macro #}

        {%  else %}
            {{  'No assessments found.' }}

        {% endif %}


    </section>
  </div>
</div>