{%- include "layouts/main.html" %}

{%- from "macros/analytics-ui.njk" import analytics with context %}
{%- from "macros/assessment-ui.njk" import assessment-table with context %}
{%- from "macros/assessment-ui.njk" import assessment-row with context %}

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        {%- include "partials/menu.njk" %}

        <section class="ui segment">
            {{ analytics(member, memberStats) }}            //macro
            {% include "partials/addassessment.html" %}
            {{ assessment-table(assessments, member, false) }}      //macro
        </section>
    </div>
</div>