{%- include "layouts/main.html" %}
{%- from "partials/analytics-ui.njk" import 'analytics' %}
{%- from "partials/assessment-ui.njk" import 'assessmenttable', 'assessmentrow' %}

{% block content %}
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        {%- include "partials/menu.njk" %}

        <section class="ui segment">
            {{ analytics(member, memberStats) }}            {# call nunjunks macro #}
            {% include "partials/addassessment.njk" %}
            {{ assessmenttable(assessments, member, false) }}      {# call nunjunks macro #}
        </section>
    </div>
</div>
{% endblock %}