{% include "layouts/main.html" %}
{% from "partials/macros.njk" import analytics, assessmenttable, assessmentrow %}

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    {% include "partials/menu.njk" %}

    {{ analytics(user, memberStats) }}    {# call my nunjunks macro #}

    <section class="ui segment">

        {% if assessments %}
            {{ assessmenttable(assessments, user, false, true) }}   {# call my nunjunks macro #}

        {%  else %}
            {{  'No assessments found.' }}

        {% endif %}


    </section>
  </div>
</div>