{%- include "layouts/main.html" %}

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        {%- include "partials/trainermenu.njk" %}

        <section class="ui segment">
          <div class="column">
            {{  listmembers(members) }}     //call macro
          </div>
        </section>
    </div>
</div>