### draw row in html
{%- macro assessment-row(assessment, member, with_delete, with_comment) -%}

    {%- if assessment %}
      <tr>
        <td> {{ assessment.date|string }} </td>
        <td> {{ assessment.weight }}</td><td> {{ assessment.chest }} </td><td> {{ assessment.thigh }} </td>
        <td> {{ assessment.upperarm }} </td><td> {{ assessment.waist }} </td><td> {{ assessment.hips }}  </td>
        <td>
          <a class="ui {{ 'teal' if assessment.trend else 'red' }} tag label"></a>
        </td>
            <td> {{ assessment.comment if with_comment else '' }} </td>
      </tr>

    {%- endif -%}
    {%- if with_delete %}

      <td>
        <a href='/dashboard/{{ member.id }}/deleteassessment/{{ assessment.id }}' class="ui icon button">
          <i class='icon trash'></i>
        </a>
      </td>

    {%- endif %}
{%- endmacro %}


### draw table in html
{%- macro assessment-table(assessments, with_comments) %}
    {%- if assessments %}
        {%- for assessment in assessments %}

            <table class="ui celled table">
                <thead>
                {%- include "layouts/assessment-header.html" %}
                </thead>
                <tbody>
                {{ assessment-row(assessment, member, false) }} //macro
                </tbody>
            </table>

            {%- if with_comments -%}
                <h4 class="ui header">
                    Comments
                </h4>
                <form class="ui form" action="/editcomment/{{ assessment.id }}" method="POST">
                    <div class="ui field">
                        <textarea rows="2" name="comment"> {{ assessment.comment }} </textarea>
                    </div>
                    <button class="ui blue submit button"> Update </button>
                </form>
            {%- endif -%}

        {%- endfor %}
    {%- endif %}
{%- endmacro %}