{% from "macros/assessmentrow.njk" import assessmentrow with context %}

{% macro assessmenttable(assessments, member, with_delete, with_comments) %}

    <table class="ui celled table">
        <thead>
        <tr>
            <th> Date </th>
            <th> Weight </th>
            <th> Chest </th>
            <th> Thigh </th>
            <th> Upper Arm </th>
            <th> Waist </th>
            <th> Hips </th>
            <th> Trend </th>
            <th> Comment </th>
        </tr>
        </thead>
        <tbody>

    {% for item in assessments %}
        {{ assessmentrow(item, member, with_delete, with_comments) }}
    {% endfor %}

        </tbody>
    </table>
{% endmacro %}